<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="../static/style-about.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="WebGL-output">
</div>

<div class="side-menu">
  <div id="menuBtn">
    <input type="checkbox" />
    <span></span>
    <span></span>
  </div>
  <div class="menu">
    <a class="menu-item" href="{{ url_for('hello_world') }}">HOME</a>
   <!-- <a class="menu-item" href="#">ABOUT US</a>
    <a class="menu-item" href="#">OUR WORK</a>
    <a class="menu-item" href="#">CAREERS</a>
    <a class="menu-item" href="#">CONTACT US</a>-->
  </div>
 
  <div class="straight-line"></div>
</div>

<img class="planetImg" src="https://assets.codepen.io/1651485/planet.png" />

<div class="mainText">
  <div class="mainTitle">
    To be compleated : - Aliya Nizar
  </div> <br><br><br>
  <div class="subTitle">
    Ee page pever ayille :P
  </div>
  <div class="cursor"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js'></script>
<script src='https:////cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js'></script><script  src="../static/script-about.js"></script>

</body>
</html>
